:root {
  --branding-color: #6cb9c1;
  --branding-color-transparent: rgba(108, 185, 193, 0.25);
  --secondary-color: #f7f7f7;
  --secondary-color-transparent: rgba(247, 247, 247, 0.4);
  --accent-color-mint: #b5dce1;
  --accent-color-mint-transparent: rgb(181, 220, 225, 0.4);
  --accent-color-orange: #ecc868;
  --accent-color-orange-transparent: rgba(236, 200, 104, 0.8);
  --default-font-family: "Klee One", cursive;
  --heading-font-family: "Handlee", serif;
}
body {
  font-family: var(--default-font-family);
}
.hero {
  background-image: url(/images/coding-octopus-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.hero p {
  background-color: var(--secondary-color-transparent);
  font-size: 35px;
  font-weight: 600;
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: 600;
}
.hero h1 {
  background-color: var(--secondary-color-transparent);
  font-size: 85px;
  font-weight: 500;
  margin: 30px 0;
}
.hero h3 {
  background-color: var(--secondary-color-transparent);
  font-family: var(--default-font-family);
  font-size: 35px;
  font-weight: 900;
}
.large-padding {
  padding: 100px;
}
.btn-branding {
  background-color: var(--secondary-color-transparent);
  border: 1.2px solid black;
  font-family: var(--heading-font-family);
  font-size: 17px;
  font-weight: 600;
  padding: 10px 20px;
}
.btn-branding:hover {
  background-color: var(--branding-color-transparent);
  border: 1.2px solid var(--accent-color-orange-transparent);
  color: var(--accent-color-orange-transparent);
}
