:root {
  --branding-color: #6cb9c1;
  --branding-color-transparent: rgba(108, 185, 193, 0.4);
  --secondary-color: #f7f7f7;
  --secondary-color-transparent: rgba(247, 247, 247, 0.4);
  --accent-color-mint: #b5dce1;
  --accent-color-mint-transparent: rgb(181, 220, 225, 0.4);
  --accent-color-orange: #ecc868;
  --accent-color-orange-transparent: rgba(236, 200, 104, 0.8);
  --default-font-family: "Klee One", cursive;
  --heading-font-family: "Handlee", serif;
}

@media (max-width: 992px) {
  .hero p {
    font-size: 25px;
  }
  .hero h1 {
    font-size: 50px;
  }
  .medium-text {
    font-size: 45px;
  }
  .technologies {
    font-size: 36px;
  }
  h3,
  h4 {
    font-size: 25px;
  }
  .app-info,
  .about-info {
    text-align: center;
    padding: 0 2px;
  }
  .profile-img {
    max-width: 320px;
    margin: 5%;
  }
}

@media (min-width: 992px) {
  .hero p {
    font-size: 40px;
  }
  .hero h1 {
    font-size: 85px;
  }
  .medium-text {
    font-size: 60px;
  }
  .technologies {
    font-size: 48px;
  }
  h3,
  h4 {
    font-size: 35px;
  }
  .app-info {
    margin-top: 20px;
  }
  .text-left {
    text-align: right;
  }
  .profile-img {
    max-width: 320px;
    margin: 20px 60px 20px 0px;
  }
}
body {
  font-family: var(--default-font-family);
}
nav {
  background: #efefef;
}
.navbar-logo {
  max-width: 60px;
}
.navbar-nav {
  margin-left: 10px;
}
.nav-link:hover {
  color: var(--accent-color-orange);
}
.active-link {
  color: var(--branding-color);
  font-weight: 600;
}
.hero {
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url(/images/coding-octopus-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero p {
  font-weight: 600;
  margin-top: 50px;
}
h1,
h2,
h4 {
  font-family: var(--heading-font-family);
  font-weight: 600;
}

h1 {
  font-size: 35px;
}
.hero h1 {
  font-weight: 500;
  margin: 30px 0;
}
.hero h3 {
  font-family: var(--default-font-family);
  font-weight: 600;
}
.btn-hero {
  background-color: var(--secondary-color-transparent);
  border: 1.2px solid black;
  font-family: var(--heading-font-family);
  font-size: 17px;
  font-weight: 600;
  padding: 10px 20px;
}
.btn-hero:hover {
  border: 1.2px solid var(--accent-color-orange-transparent);
  color: var(--accent-color-orange-transparent);
}
.about-info {
  margin-top: 80px;
}
.work-info,
.contact-info {
  margin-top: 90px;
}
.work-info .app-img {
  max-width: 330px;
}
.app-info h2 {
  margin: 15px;
}
.about-info h1 {
  margin: 15px 40px;
}
.app-info p {
  margin: 15px 10px;
  line-height: 1.5;
  font-size: 18px;
}
.about-info p,
.contact-info p {
  margin: 15px 30px;
  line-height: 1.5;
  font-size: 18px;
}
.app-info a,
.about-info a {
  margin: 15px;
}
.apps {
  background-color: var(--secondary-color);
}
.btn-branding {
  background-color: var(--branding-color-transparent);
  border: 1px solid var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 17px;
  font-weight: 600;
  padding: 10px 20px;
}
.btn-branding:hover {
  background-color: var(--secondary-color-transparent);
  border: 1px solid var(--accent-color-orange-transparent);
  color: var(--accent-color-orange-transparent);
}
.bold-text {
  font-weight: 600;
}
.no-dots {
  list-style: none;
  padding: 5px;
}
.workpage-link {
  color: var(--branding-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.workpage-link:hover {
  color: var(--accent-color-orange);
  text-decoration: underline;
}
.social-link {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 20px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.social-link:hover {
  color: var(--accent-color-orange);
  text-decoration: underline;
}
.larger-icon {
  font-size: 28px;
}
.shecodes-logo {
  max-height: 16px;
}
footer .contact-box {
  background: #efefef;
  margin: 0 3%;
  padding: 25px;
}
footer p {
  font-size: 17px;
}
footer i {
  transition: all 100ms ease-in-out;
  margin: 40px 30px 30px 30px;
}
footer i:hover {
  color: var(--accent-color-orange-transparent);
}
.icon-color {
  color: var(--branding-color);
}
